
@model Vidly.Models.Movie

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h3>@Model.Name</h3>

<p>You are watching Latest news of upcoming Movies Here!</p>